.container {
    margin-top: 6%;
    border: solid black;
    background-color: #606c38;
    width: 575px;
    height: 525px;
    padding: 15px;
    border-radius: 8px;
  }
  #height,
  #weight {
    width: 150px;
    height: 25px;
    margin-bottom: 2%;
  }
 
  #results {
    font-size: 35px;

    color: rgb(241, 241, 241);
  }
  
  button {
    background-color: #fefae0;
    margin-top: 5%;
    margin-bottom: 5%;
    
    padding: 10px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
    font-size: 25px;
  }
  
  h1 {
    margin-bottom: 8%;
    padding-left: 12px;
   
  }
  
  body {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: centers;
    background-color: #283618;
  }
  
  input{
    border:solid black 2px ;
    border-radius: 3px;
  }